main {
  min-height: 75vh;
}
h1 {
  padding: 2rem 0;
  text-align: center;
}

h3 {
  padding: 1.5rem 0;
}
.flex-btns {
  display: flex;
  /* border-radius: 8px;
  background-color: black; */
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
  flex-direction: right;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-top: 70px;
  margin-left: 95px;
  margin-right: auto;
  background-color: #fff;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .carousel img {
    margin-top: 90px;
    margin-left: auto;
  }
  .carousel {
    text-align: center;
  }
}


/******* Search form *******/
.form {
  width: 25.75rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 2.5rem;
  display: flex;
  padding: .2rem 1rem;
}

.form .form-input {
  flex: 1;
  height: 2.2rem;
  background-color: white;
  border: none;
  border-radius: .5rem;
  outline: none;
  font-size: 16px;
  height: 2rem;
  border: 10px;
  box-shadow: none; 
}
.form .form-input:focus {
  outline: 0 !important;
  box-shadow: none !important;
  background-color: white;
}

.form .form-icon {
  font-size: 20px;
  color: none;
  /* height: 15px; */
}


@media (max-width: 650px) {
  .form {
    margin: .6rem 0rem;
    width: 17.75rem;
    /* height: 2rem; */
    border-radius: .5rem;
    padding: .2rem .8rem;
  }
}

/******* Footer *******/
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(29, 29, 29);
  color: #fff;
  /* position: fixed; */
  margin-top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}

/******* Google / Facebook btns *******/
.social button {
  width: 80%;
  height: 40px;
  padding: 10px;
  text-transform: uppercase;
  margin-top: -8px;
  font-size: 12px;
  letter-spacing: 1.3px;
  box-shadow: 2px 2px 4px #000000;
  text-align: center;
}
